---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-601b7333-291fd65a15df2ade798b55a8
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"streamassistantbot","scopes":["channel:moderate","channel_editor","channel_read","chat:edit","chat:read","user_read"],"user_id":"277558749","expires_in":15428}

        '
  recorded_at: Thu, 04 Feb 2021 04:08:19 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/games/top?first=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1612411700'
      twitch-trace-id:
      - b3eadf74ed615d6c902464631f1f56fd
      x-ctxlog-logid:
      - 1-601b7333-541f3f4b16f1d63e0a69ca6b
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"509658","name":"Just Chatting","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-{width}x{height}.jpg"},{"id":"27471","name":"Minecraft","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Minecraft-{width}x{height}.jpg"},{"id":"516575","name":"VALORANT","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/VALORANT-{width}x{height}.jpg"},{"id":"32982","name":"Grand
        Theft Auto V","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Grand%20Theft%20Auto%20V-{width}x{height}.jpg"},{"id":"21779","name":"League
        of Legends","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-{width}x{height}.jpg"}],"pagination":{"cursor":"eyJzIjo1LCJkIjpmYWxzZSwidCI6dHJ1ZX0="}}'
  recorded_at: Thu, 04 Feb 2021 04:08:19 GMT
recorded_with: VCR 6.0.0
