---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64de8e83-0b856a14552df14e1e17bb18
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"<TOKEN_USER_LOGIN>","scopes":["bits:read","channel:edit:commercial","channel:manage:broadcast","channel:manage:polls","channel:manage:predictions","channel:manage:redemptions","channel:moderate","channel:read:editors","channel:read:polls","channel:read:predictions","channel:read:stream_key","chat:edit","chat:read","clips:edit","moderation:read","moderator:manage:announcements","moderator:manage:banned_users","moderator:manage:chat_messages","moderator:manage:chat_settings","moderator:read:chat_settings","moderator:read:chatters","user:edit","user:manage:blocked_users","user:read:broadcast","user:read:email"],"user_id":"<TOKEN_USER_ID>","expires_in":14109}

        '
  recorded_at: Thu, 17 Aug 2023 21:17:55 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/channels/editors?broadcaster_id=277558749
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1692307076'
    body:
      encoding: UTF-8
      string: '{"data":[{"user_id":"117474239","user_name":"AlexWayfer","created_at":"2023-08-17T21:17:45.846381984Z"}]}'
  recorded_at: Thu, 17 Aug 2023 21:17:56 GMT
recorded_with: VCR 6.2.0
