---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-635fbfbc-0027d82127d7663b65596eef
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Mon, 31 Oct 2022 12:29:48 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token","refresh_token":"<NEW_REFRESH_TOKEN>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-635fbfbd-56e0f839288d937d2c24e8ed
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_ACCESS_TOKEN>","expires_in":15748,"refresh_token":"<NEW_REFRESH_TOKEN>","scope":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"token_type":"bearer"}

        '
  recorded_at: Mon, 31 Oct 2022 12:29:49 GMT
- request:
    method: patch
    uri: https://api.twitch.tv/helix/channels
    body:
      encoding: UTF-8
      string: '{"broadcaster_id":"277558749","game_id":"509670","title":"Test"}'
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1667219391'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 31 Oct 2022 12:29:50 GMT
recorded_with: VCR 6.1.0
