---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64d21454-70bf2ae97699d5c91ef3c6de
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","scopes":null,"expires_in":4687640}

        '
  recorded_at: Tue, 08 Aug 2023 10:09:24 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/channel_points/custom_rewards?broadcaster_id=117474239
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"Missing User OAUTH
        Token"}'
  recorded_at: Tue, 08 Aug 2023 10:09:25 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/channel_points/custom_rewards?broadcaster_id=117474239
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"Missing User OAUTH
        Token"}'
  recorded_at: Tue, 08 Aug 2023 10:09:25 GMT
recorded_with: VCR 6.2.0
