---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64ddfe92-1056ac63160b2d1a7df82690
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"<TOKEN_USER_LOGIN>","scopes":["bits:read","channel:edit:commercial","channel:manage:broadcast","channel:manage:polls","channel:manage:predictions","channel:manage:redemptions","channel:moderate","channel:read:polls","channel:read:predictions","chat:edit","chat:read","clips:edit","moderation:read","moderator:manage:announcements","moderator:manage:banned_users","moderator:manage:chat_messages","moderator:manage:chat_settings","moderator:read:chat_settings","moderator:read:chatters","user:edit","user:manage:blocked_users","user:read:broadcast","user:read:email"],"user_id":"<TOKEN_USER_ID>","expires_in":12278}

        '
  recorded_at: Thu, 17 Aug 2023 11:03:46 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/search/categories?query=angel+of+death
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1692270228'
    body:
      encoding: UTF-8
      string: '{"data":[{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/138_IGDB-52x72.jpg","id":"138","name":"Police
        Quest: In Pursuit of the Death Angel"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/7126_IGDB-52x72.jpg","id":"7126","name":"Astaroth:
        The Angel of Death"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/496471_IGDB-52x72.jpg","id":"496471","name":"Angels
        of Death"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/36463168_IGDB-52x72.jpg","id":"36463168","name":"Angels
        of Death Episode.Eddie"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/719631982-52x72.jpg","id":"719631982","name":"Death
        Angel Nightmare"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/1151716863_IGDB-52x72.jpg","id":"1151716863","name":"Gravity
        Angels Part 4: Death Force"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/1341963614_IGDB-52x72.jpg","id":"1341963614","name":"Police
        Quest: In Pursuit of the Death Angel"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/1509140451_IGDB-52x72.jpg","id":"1509140451","name":"Death
        Angel"}],"pagination":{}}'
  recorded_at: Thu, 17 Aug 2023 11:03:47 GMT
recorded_with: VCR 6.2.0
