---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-601b7332-617873bb5cbeded504fcd2b7
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"streamassistantbot","scopes":["channel:moderate","channel_editor","channel_read","chat:edit","chat:read","user_read"],"user_id":"277558749","expires_in":15429}

        '
  recorded_at: Thu, 04 Feb 2021 04:08:18 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/games?name%5B%5D=Heroes+of+the+Storm&name%5B%5D=Super+Mario+Odyssey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1612411699'
      twitch-trace-id:
      - 37a6e7bb1ff63b4b4b4054b30517e581
      x-ctxlog-logid:
      - 1-601b7332-0552c64372d3524726b92cda
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"32959","name":"Heroes of the Storm","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Heroes%20of%20the%20Storm-{width}x{height}.jpg"},{"id":"493997","name":"Super
        Mario Odyssey","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Super%20Mario%20Odyssey-{width}x{height}.jpg"}]}'
  recorded_at: Thu, 04 Feb 2021 04:08:18 GMT
recorded_with: VCR 6.0.0
