---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-6373ccbe-2fc0b4d40aacbfdd7b426c7f
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Tue, 15 Nov 2022 17:30:38 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-6373ccbf-3c44148f7537d32970eb808c
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_ACCESS_TOKEN>","expires_in":4799083,"token_type":"bearer"}

        '
  recorded_at: Tue, 15 Nov 2022 17:30:40 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/channels?broadcaster_id%5B%5D=277558749&broadcaster_id%5B%5D=117474239
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1668533441'
    body:
      encoding: UTF-8
      string: '{"data":[{"broadcaster_id":"117474239","broadcaster_login":"alexwayfer","broadcaster_name":"AlexWayfer","broadcaster_language":"ru","game_id":"1469308723","game_name":"Software
        and Game Development","title":"Делаю Тетрис","delay":0},{"broadcaster_id":"277558749","broadcaster_login":"streamassistantbot","broadcaster_name":"StreamAssistantBot","broadcaster_language":"en","game_id":"509670","game_name":"Science
        \u0026 Technology","title":"Test","delay":0}]}'
  recorded_at: Tue, 15 Nov 2022 17:30:40 GMT
recorded_with: VCR 6.1.0
