---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fa3062a-60c720d347c91baf0aa258ef
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_APPLICATION_ACCESS_TOKEN>","expires_in":5392937,"token_type":"bearer"}

        '
  recorded_at: Wed, 04 Nov 2020 19:51:06 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/users?id=18587270
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1604519467'
      twitch-trace-id:
      - 5cd019562aafd70e7c72064561139f3c
      x-ctxlog-logid:
      - 1-5fa3062a-556104a4237387a86b634d15
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"18587270","login":"day9tv","display_name":"Day9tv","type":"","broadcaster_type":"partner","description":"A
        mixture of thoughtful gaming strategy, comedy, and silly fun. Featuring MTGA,
        Dota 2, adventure games, and other community favorites.","profile_image_url":"https://static-cdn.jtvnw.net/jtv_user_pictures/day9tv-profile_image-2226c4b27aaf487a-300x300.png","offline_image_url":"https://static-cdn.jtvnw.net/jtv_user_pictures/b5b2dabd-d720-465b-bd0e-2e8aef3d9802-channel_offline_image-1920x1080.jpeg","view_count":86972753}]}'
  recorded_at: Wed, 04 Nov 2020 19:51:06 GMT
recorded_with: VCR 6.0.0
