---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64c7d81c-7f5f60f4716f745c687f3aaf
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"<TOKEN_USER_LOGIN>","scopes":["bits:read","channel:edit:commercial","channel:manage:broadcast","channel:manage:polls","channel:manage:predictions","channel:moderate","channel:read:polls","channel:read:predictions","chat:edit","chat:read","clips:edit","moderation:read","moderator:manage:announcements","moderator:manage:banned_users","moderator:manage:chat_messages","moderator:manage:chat_settings","moderator:read:chat_settings","moderator:read:chatters","user:edit","user:manage:blocked_users","user:read:broadcast","user:read:email"],"user_id":"<TOKEN_USER_ID>","expires_in":10931}

        '
  recorded_at: Mon, 31 Jul 2023 15:49:49 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/users/extensions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1690818590'
    body:
      encoding: UTF-8
      string: '{"data":{"panel":{"1":{"active":true,"id":"5tbyqce941455yffg7fzg36tp6or8p","version":"5.0.4","name":"Stream
        Stickers"},"2":{"active":false},"3":{"active":false}},"overlay":{"1":{"active":true,"id":"4xbv0wcmq7w91n66b3bh417irlsja1","version":"1.0.2","name":"Quiz
        Kit"}},"component":{"1":{"active":false},"2":{"active":false}}}}'
  recorded_at: Mon, 31 Jul 2023 15:49:49 GMT
recorded_with: VCR 6.2.0
