---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-6064898e-245151f97107d2245945b4a0
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"streamassistantbot","scopes":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"user_id":"277558749","expires_in":12351}

        '
  recorded_at: Wed, 31 Mar 2021 14:39:11 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/bits/leaderboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1617201552'
      twitch-trace-id:
      - d59eacb9102be79b725ea5ba7bf5d5e8
      x-ctxlog-logid:
      - 1-6064898f-4dab937f3a377bc830e5e88c
    body:
      encoding: UTF-8
      string: '{"data":[],"date_range":{"started_at":"","ended_at":""},"total":0}'
  recorded_at: Wed, 31 Mar 2021 14:39:11 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/bits/leaderboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      twitch-trace-id:
      - f6cc45a7e3965fe3885d0beb87e359b3
      x-ctxlog-logid:
      - 1-6064898f-72bc13691f4b875453f90dcb
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"Invalid OAuth token"}'
  recorded_at: Wed, 31 Mar 2021 14:39:12 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/bits/leaderboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1617201553'
      twitch-trace-id:
      - 4ff86a0034634b27bd37d1531cc393ba
      x-ctxlog-logid:
      - 1-60648990-1d92332d31cdb63048704df4
    body:
      encoding: UTF-8
      string: '{"data":[],"date_range":{"started_at":"","ended_at":""},"total":0}'
  recorded_at: Wed, 31 Mar 2021 14:39:12 GMT
recorded_with: VCR 6.0.0
