---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-6373cbc1-7d37b7174f18f46a382b8725
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Tue, 15 Nov 2022 17:26:25 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-6373cbc2-0f74138447ac0080054cd4ab
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_ACCESS_TOKEN>","expires_in":4949796,"token_type":"bearer"}

        '
  recorded_at: Tue, 15 Nov 2022 17:26:26 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/users/follows?first=100&from_id=117474239
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1668533188'
    body:
      encoding: UTF-8
      string: '{"total":57,"data":[{"from_id":"117474239","from_login":"alexwayfer","from_name":"AlexWayfer","to_id":"112353016","to_login":"delta_fix","to_name":"DELTA_FiX","followed_at":"2022-11-07T17:22:26Z"},{"from_id":"117474239","from_login":"alexwayfer","from_name":"AlexWayfer","to_id":"94424053","to_login":"refferency","to_name":"Refferency","followed_at":"2022-10-27T13:10:02Z"},{"from_id":"117474239","from_login":"alexwayfer","from_name":"AlexWayfer","to_id":"43578182","to_login":"f1ashko","to_name":"F1ashko","followed_at":"2022-10-18T11:47:25Z"},{"from_id":"117474239","from_login":"alexwayfer","from_name":"AlexWayfer","to_id":"505424814","to_login":"heyitsipo","to_name"[...]
