---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-6373cc75-67bcdc9946b4e9cf789612b2
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Tue, 15 Nov 2022 17:29:25 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-6373cc76-11fdf34d3bbe9e2622178b19
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_ACCESS_TOKEN>","expires_in":4832318,"token_type":"bearer"}

        '
  recorded_at: Tue, 15 Nov 2022 17:29:26 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/videos?user_id=9846758
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1668533428'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"1652727194","stream_id":"46300851900","user_id":"9846758","user_login":"vgbootcamp","user_name":"VGBootCamp","title":"UFA
        2022 | Day 3 - Top 8 Singles | Feat: Tea, Bloom4Eva, Glutonny, Sisqui, Hikaru,
        Jake, Space and Raflow! | !bracket !enter","description":"","created_at":"2022-11-14T19:17:15Z","published_at":"2022-11-14T19:17:15Z","url":"https://www.twitch.tv/videos/1652727194","thumbnail_url":"https://static-cdn.jtvnw.net/cf_vods/dgeft87wbj63p/b0f34bdb8933702ba02b_vgbootcamp_46300851900_1668453426//thumb/thumb0-%{width}x%{height}.jpg","viewable":"public","view_count":5234,"language":"en","type":"archive","duration":"3h45m54s","muted_segments":null},{"id":"1652174613","stream_id":"1","user_id":"9846758","user_login":"vgbootcamp","user_name":"VGBootCamp","title":"UFA
        2022 GRAND FINALS - Leon \u0026 Oryon Vs. Chag \u0026 Jake - SSBU Ultimate
        Tournament","description":"","created_at":"2022-11-14T01:16:04Z","published_at":"2022-11-14T01:16:04Z","url":"https://www.twitch.tv/videos/1652174613","thumbnail_url":"https://static-cdn.jtvnw.net/cf_vods/dgeft87wbj63p/ad7f8324034705758be8_vgbootcamp_92596132467_2783236098//thumb/thu[...]
