---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64de8e2d-746b9cbe788bec962ddb14cd
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","scopes":null,"expires_in":3870015}

        '
  recorded_at: Thu, 17 Aug 2023 21:16:29 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/channels/editors?broadcaster_id=277558749
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1692306990'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"The ID in broadcaster_id
        must match the user ID found in the request''s OAuth token."}'
  recorded_at: Thu, 17 Aug 2023 21:16:29 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/channels/editors?broadcaster_id=277558749
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1692306990'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"The ID in broadcaster_id
        must match the user ID found in the request''s OAuth token."}'
  recorded_at: Thu, 17 Aug 2023 21:16:29 GMT
recorded_with: VCR 6.2.0
