---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/authorize?client_id=<CLIENT_ID>&redirect_uri=http%3A%2F%2Flocalhost&response_type=code&scope=bits%3Aread
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      content-type:
      - text/html; charset=utf-8
      location:
      - https://www.twitch.tv/login?client_id=<CLIENT_ID>&redirect_params=client_id%3D<CLIENT_ID>%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%26response_type%3Dcode%26scope%3Dbits%253Aread
      x-ctxlog-logid:
      - 1-5faeb006-6d537e6916fa975f52df3960
    body:
      encoding: UTF-8
      string: "<a href=\"https://www.twitch.tv/login?client_id=<CLIENT_ID>&amp;redirect_params=client_id%3D<CLIENT_ID>%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%26response_type%3Dcode%26scope%3Dbits%253Aread\">Found</a>.\n\n"
  recorded_at: Fri, 13 Nov 2020 16:10:46 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":"<CODE>","grant_type":"authorization_code","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5faeb015-604eedab4ac634a900ed7c02
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_ACCESS_TOKEN>","expires_in":13958,"refresh_token":"<NEW_REFRESH_TOKEN>","scope":["bits:read"],"token_type":"bearer"}

        '
  recorded_at: Fri, 13 Nov 2020 16:11:01 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/bits/leaderboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1605283862'
      twitch-trace-id:
      - 516d48ca9c37363f3a5cedf719a9efec
      x-ctxlog-logid:
      - 1-5faeb015-38b6a8034461d4802ed1b526
    body:
      encoding: UTF-8
      string: '{"data":[],"date_range":{"started_at":"","ended_at":""},"total":0}'
  recorded_at: Fri, 13 Nov 2020 16:11:01 GMT
recorded_with: VCR 6.0.0
