---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64c7d7d1-314e645442491b7c7ccecad2
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","scopes":null,"expires_in":5358491}

        '
  recorded_at: Mon, 31 Jul 2023 15:48:33 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/users/extensions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1690818514'
    body:
      encoding: UTF-8
      string: '{"error":"Bad Request","status":400,"message":"The user_id query parameter
        is required if you specify an app access token."}'
  recorded_at: Mon, 31 Jul 2023 15:48:33 GMT
recorded_with: VCR 6.2.0
