---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64c7b849-4331334c4f2388530c456538
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Mon, 31 Jul 2023 13:34:01 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64c7b84a-146706577ca144171d24e1ad
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_ACCESS_TOKEN>","expires_in":4945083,"token_type":"bearer"}

        '
  recorded_at: Mon, 31 Jul 2023 13:34:02 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/search/channels?query=angel+of+death
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1690810443'
    body:
      encoding: UTF-8
      string: "{\"data\":[{\"broadcaster_language\":\"ru\",\"broadcaster_login\":\"angelofdeath666x\",\"display_name\":\"angelofdeath666x\",\"game_id\":\"32399\",\"game_name\":\"Counter-Strike:
        Global Offensive\",\"id\":\"44443153\",\"is_live\":false,\"tag_ids\":[],\"tags\":[],\"thumbnail_url\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/15972b36-ade1-46e7-a414-abf4716c7960-profile_image-300x300.png\",\"title\":\"Возвращаю
        Честь и открываю кейсы. Пора подниматься со дна. 10 сек задержка\",\"started_at\":\"\"},{\"broadcaster_language\":\"de\",\"broadcaster_login\":\"angelofdeathwhv\",\"display_name\":\"angelofdeathWHV\",\"game_id\":\"515024\",\"game_name\":\"Diablo
        IV\",\"id\":\"63639499\",\"is_live\":false,\"tag_ids\":[],\"tags\":[\"Deutsch\",\"Nospoiler\",\"NoBackseating\",\"einfachwir\",\"Xbox\",\"XboxSeriesX\",\"AchievementHunting\"],\"thumbnail_url\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/ad7c7c08-794e-4f08-a206-b754b8def386-profile_image-300x300.png\",\"title\":\"[DE]
   [...]
