---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-63601152-140c750248e296c85e61fd85
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"streamassistantbot","scopes":["bits:read","channel:moderate","channel_commercial","channel_editor","channel_read","channel_stream","chat:edit","chat:read","user:read:email","user_blocks_edit","user_read"],"user_id":"277558749","expires_in":9063}

        '
  recorded_at: Mon, 31 Oct 2022 18:17:54 GMT
- request:
    method: patch
    uri: https://api.twitch.tv/helix/channels
    body:
      encoding: UTF-8
      string: '{"broadcaster_id":"277558749","game_id":"abc","title":"Test"}'
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1667240275'
    body:
      encoding: UTF-8
      string: '{"error":"Bad Request","status":400,"message":"The ID in game_id is
        not valid."}'
  recorded_at: Mon, 31 Oct 2022 18:17:55 GMT
recorded_with: VCR 6.1.0
