---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64ddfe50-37aca29a26dc6723030b1519
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","scopes":null,"expires_in":3906844}

        '
  recorded_at: Thu, 17 Aug 2023 11:02:41 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/search/categories?query=angel+of+death
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1692270162'
    body:
      encoding: UTF-8
      string: '{"data":[{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/138_IGDB-52x72.jpg","id":"138","name":"Police
        Quest: In Pursuit of the Death Angel"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/7126_IGDB-52x72.jpg","id":"7126","name":"Astaroth:
        The Angel of Death"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/496471_IGDB-52x72.jpg","id":"496471","name":"Angels
        of Death"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/36463168_IGDB-52x72.jpg","id":"36463168","name":"Angels
        of Death Episode.Eddie"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/719631982-52x72.jpg","id":"719631982","name":"Death
        Angel Nightmare"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/1151716863_IGDB-52x72.jpg","id":"1151716863","name":"Gravity
        Angels Part 4: Death Force"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/1341963614_IGDB-52x72.jpg","id":"1341963614","name":"Police
        Quest: In Pursuit of the Death Angel"},{"box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/1509140451_IGDB-52x72.jpg","id":"1509140451","name":"Death
        Angel"}],"pagination":{}}'
  recorded_at: Thu, 17 Aug 2023 11:02:41 GMT
recorded_with: VCR 6.2.0
