---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64ddfe4e-1b9c83af686519780ad9d6f2
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","scopes":null,"expires_in":3906846}

        '
  recorded_at: Thu, 17 Aug 2023 11:02:38 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/search/categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Bad Request","status":400,"message":"Missing required parameter
        \"query\""}'
  recorded_at: Thu, 17 Aug 2023 11:02:38 GMT
recorded_with: VCR 6.2.0
