---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5faeae1f-68a5d0f65213de950d7df479
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Fri, 13 Nov 2020 16:02:39 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token","refresh_token":"<ACTUAL_REFRESH_TOKEN>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5faeae20-083588a31407045131838553
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_APPLICATION_ACCESS_TOKEN>","expires_in":15257,"refresh_token":"<ACTUAL_REFRESH_TOKEN>","scope":["bits:read","channel_commercial","channel_editor","channel_read","channel_stream","user:read:email","user_blocks_edit","user_read"],"token_type":"bearer"}

        '
  recorded_at: Fri, 13 Nov 2020 16:02:40 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/bits/leaderboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1605283362'
      twitch-trace-id:
      - 2c4be23b8ba1d891f7e56b3d4ca8d4e9
      x-ctxlog-logid:
      - 1-5faeae21-6c84159029f24ac719eaf9a3
    body:
      encoding: UTF-8
      string: '{"data":[],"date_range":{"started_at":"","ended_at":""},"total":0}'
  recorded_at: Fri, 13 Nov 2020 16:02:41 GMT
recorded_with: VCR 6.0.0
