---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64c7d81e-4d1e0c7c7a4ba5b97b875323
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","scopes":null,"expires_in":5358414}

        '
  recorded_at: Mon, 31 Jul 2023 15:49:50 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/users/extensions?user_id=277558749
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1690818591'
    body:
      encoding: UTF-8
      string: '{"data":{"panel":{"1":{"active":true,"id":"5tbyqce941455yffg7fzg36tp6or8p","version":"5.0.4","name":"Stream
        Stickers"},"2":{"active":false},"3":{"active":false}},"overlay":{"1":{"active":true,"id":"4xbv0wcmq7w91n66b3bh417irlsja1","version":"1.0.2","name":"Quiz
        Kit"}},"component":{"1":{"active":false},"2":{"active":false}}}}'
  recorded_at: Mon, 31 Jul 2023 15:49:51 GMT
recorded_with: VCR 6.2.0
