---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-6064d258-712700811fb3e5090121b22b
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Wed, 31 Mar 2021 19:49:44 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-6064d259-2fbebd2032f7c4c91660a7bb
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_ACCESS_TOKEN>","expires_in":4793895,"token_type":"bearer"}

        '
  recorded_at: Wed, 31 Mar 2021 19:49:45 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/bits/leaderboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      twitch-trace-id:
      - cff335659c986db3f1997155332fbffd
      x-ctxlog-logid:
      - 1-6064d25a-035afed379d681106cef38a2
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"Missing User OAUTH
        Token"}'
  recorded_at: Wed, 31 Mar 2021 19:49:46 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/bits/leaderboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      twitch-trace-id:
      - c4750d76a349e73ba4fdac4338b5bfba
      x-ctxlog-logid:
      - 1-6064d25a-3d0b58ea5567abdf0fe06a76
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"Missing User OAUTH
        Token"}'
  recorded_at: Wed, 31 Mar 2021 19:49:46 GMT
recorded_with: VCR 6.0.0
