---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64c7df2b-1f47b8957b6950e4277b319f
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","scopes":null,"expires_in":5356609}

        '
  recorded_at: Mon, 31 Jul 2023 16:19:55 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/moderation/moderators
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1690820397'
    body:
      encoding: UTF-8
      string: '{"error":"Bad Request","status":400,"message":"The broadcaster_id query
        parameter is required."}'
  recorded_at: Mon, 31 Jul 2023 16:19:56 GMT
recorded_with: VCR 6.2.0
