---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fb311cc-2eed30ed111c09c0368d60d0
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_ACCESS_TOKEN>","expires_in":5360138,"token_type":"bearer"}

        '
  recorded_at: Mon, 16 Nov 2020 23:57:00 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/bits/leaderboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      twitch-trace-id:
      - fc923a4163b57e9225dc7e412e5db5db
      x-ctxlog-logid:
      - 1-5fb311cc-519d09cb7a6d172a6f2e2283
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"Missing User OAUTH
        Token"}'
  recorded_at: Mon, 16 Nov 2020 23:57:01 GMT
recorded_with: VCR 6.0.0
