---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64c7df27-4346fb360d2e498b6c170330
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","scopes":null,"expires_in":5356613}

        '
  recorded_at: Mon, 31 Jul 2023 16:19:51 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/users?id=18587270
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID: []
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"Client ID is missing"}'
  recorded_at: Mon, 31 Jul 2023 16:19:52 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/users?id=18587270
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID: []
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"Client ID is missing"}'
  recorded_at: Mon, 31 Jul 2023 16:19:52 GMT
recorded_with: VCR 6.2.0
