---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fb310f2-454f7b201b7d1cac265962f3
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Mon, 16 Nov 2020 23:53:22 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token","refresh_token":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fb310f3-107558b5117a34861fbaaf3d
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"missing refresh token"}

        '
  recorded_at: Mon, 16 Nov 2020 23:53:23 GMT
recorded_with: VCR 6.0.0
