---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64d21456-1b6da16d77a678631a5d6ac2
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"<TOKEN_USER_LOGIN>","scopes":["bits:read","channel:edit:commercial","channel:manage:broadcast","channel:manage:polls","channel:manage:predictions","channel:manage:redemptions","channel:moderate","channel:read:polls","channel:read:predictions","chat:edit","chat:read","clips:edit","moderation:read","moderator:manage:announcements","moderator:manage:banned_users","moderator:manage:chat_messages","moderator:manage:chat_settings","moderator:read:chat_settings","moderator:read:chatters","user:edit","user:manage:blocked_users","user:read:broadcast","user:read:email"],"user_id":"<TOKEN_USER_ID>","expires_in":12386}

        '
  recorded_at: Tue, 08 Aug 2023 10:09:26 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/channel_points/custom_rewards?broadcaster_id=117474239
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1691489367'
    body:
      encoding: UTF-8
      string: '{"data":[{"broadcaster_name":"AlexWayfer","broadcaster_login":"alexwayfer","broadcaster_id":"117474239","id":"44a37744-66e0-4d0f-ab26-be53af19dc02","image":null,"background_color":"#FF38DB","is_enabled":false,"cost":1,"title":"test","prompt":"","is_user_input_required":true,"max_per_stream_setting":{"is_enabled":false,"max_per_stream":0},"max_per_user_per_stream_setting":{"is_enabled":false,"max_per_user_per_stream":0},"global_cooldown_setting":{"is_enabled":false,"global_cooldown_seconds":0},"is_paused":false,"is_in_stock":true,"default_image":{"url_1x":"https://static-cdn.jtvnw.net/custom-reward-images/default-1.png","url_2x":"https://static-cdn.jtvnw.net/custom-reward-images/default-2.png","url_4x":"https://static-cdn.jtvnw.net/custom-reward-images/default-4.png"},"should_redemptions_skip_request_queue":false,"redemptions_redeemed_current_stream":null,"cooldown_expires_at":null},{"broadcaster_name":"AlexWayfer","broadcaster_login":"alexwayfer","broadcaster_id":"117474239","id":"4a239c39-7b44-4835-85d8-b690e4f0b498","image":null,"background_color":"#1D227F","is_enabled":true,"cost":100000,"title":"Add
        a Command","prompt":"Add a command of your choice","is_user_input_required":true,"max_per_stream_setting":{"is_enabled":true,"max_per_stream":5},"max_per_user_per_stream_setting":{"is_enabled":true,"max_per_user_per_stream":1},"global_cooldown_setting":{"is_en[...]
