---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5faeaea2-5d2cd7ff300262544e2d8782
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Fri, 13 Nov 2020 16:04:50 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5faeaea3-6d1166722aaa61121979ca21
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_APPLICATION_ACCESS_TOKEN>","expires_in":4870188,"token_type":"bearer"}

        '
  recorded_at: Fri, 13 Nov 2020 16:04:51 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/streams?user_login=GemsFireplace
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1605283492'
      twitch-trace-id:
      - 8e8d62ca4b51cd4b68b61cb5064f4baf
      x-ctxlog-logid:
      - 1-5faeaea3-10f1e15c10d155cc73178a4c
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"40443438766","user_id":"546787567","user_name":"GemsFireplace","game_id":"499973","game_name":"Always
        On","type":"live","title":"[24/7] Hangout / Sleep Sound","viewer_count":3,"started_at":"2020-11-12T00:46:24Z","language":"en","thumbnail_url":"https://static-cdn.jtvnw.net/previews-ttv/live_user_gemsfireplace-{width}x{height}.jpg","tag_ids":["6ea6bca4-4712-4ab9-a906-e3336a9d8039","353ab6ac-a0ee-404e-9bfa-217446b97718","e659959d-392f-44c5-83a5-fb959cdbaccc","77223888-8535-4614-974b-b1b2673456eb","64d9afa6-139a-48d5-ab4e-51d0a92b22de","5ec52c4f-a055-404c-82fe-ea98c74c7fe6"]}],"pagination":{}}'
  recorded_at: Fri, 13 Nov 2020 16:04:51 GMT
recorded_with: VCR 6.0.0
