---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fa30627-46da0cb65f066c9b5af7336a
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_APPLICATION_ACCESS_TOKEN>","expires_in":5343319,"token_type":"bearer"}

        '
  recorded_at: Wed, 04 Nov 2020 19:51:03 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/streams
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1604519464'
      twitch-trace-id:
      - d77aab5ba2e4ac721a6080f5054a9259
      x-ctxlog-logid:
      - 1-5fa30627-59bdc50c677347e07615c8da
    body:
      encoding: UTF-8
      string: "{\"data\":[{\"id\":\"40345176990\",\"user_id\":\"207813352\",\"user_name\":\"HasanAbi\",\"game_id\":\"509658\",\"type\":\"live\",\"title\":\"2020
        US PRESIDENTIAL ELECTION - BEDLAM\",\"viewer_count\":112364,\"started_at\":\"2020-11-04T19:01:22Z\",\"language\":\"en\",\"thumbnail_url\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_hasanabi-{width}x{height}.jpg\",\"tag_ids\":[\"6ea6bca4-4712-4ab9-a906-e3336a9d8039\",\"77017b7b-6b98-4f0d-bd39-3ba96b66ec7a\",\"cea7bc0c-75a5-4446-8743-6db031b71550\",\"ab45fcb7-a22d-4a07-b0ac-fb3940566fa7\",\"67259b26-ff83-444e-9d3c-faab390df16f\"]},{\"id\":\"39649784973\",\"user_id\":\"181077473\",\"user_name\":\"Gaules\",\"game_id\":\"32399\",\"type\":\"live\",\"title\":\"Astralis
        vs G2 BLAST Premier Fall 2020 @Gaules nas Redes Sociais !premio !prime !Sorteio
        PC\",\"viewer_count\":73351,\"started_at\":\"2020-11-04T14:1[...]
