---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fa3062c-26f59e90313d19247546f34a
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_APPLICATION_ACCESS_TOKEN>","expires_in":5150963,"token_type":"bearer"}

        '
  recorded_at: Wed, 04 Nov 2020 19:51:09 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/games/top?first=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1604519470'
      twitch-trace-id:
      - 0e0a8df93ad343c57655355e01b2b3c5
      x-ctxlog-logid:
      - 1-5fa3062d-5f567afb4ccfbe414fb5d4e3
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"509658","name":"Just Chatting","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-{width}x{height}.jpg"},{"id":"33214","name":"Fortnite","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Fortnite-{width}x{height}.jpg"},{"id":"32399","name":"Counter-Strike:
        Global Offensive","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/./Counter-Strike:%20Global%20Offensive-{width}x{height}.jpg"},{"id":"21779","name":"League
        of Legends","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-{width}x{height}.jpg"},{"id":"512710","name":"Call
        Of Duty: Modern Warfare","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/./Call%20Of%20Duty:%20Modern%20Warfare-{width}x{height}.jpg"}],"pagination":{"cursor":"eyJzIjo1LCJkIjpmYWxzZSwidCI6dHJ1ZX0="}}'
  recorded_at: Wed, 04 Nov 2020 19:51:09 GMT
recorded_with: VCR 6.0.0
