---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5faeae39-73c7092505ed0e5974359436
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Fri, 13 Nov 2020 16:03:06 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5faeae3a-11ab478705fb42d001d0f241
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_APPLICATION_ACCESS_TOKEN>","expires_in":5141303,"token_type":"bearer"}

        '
  recorded_at: Fri, 13 Nov 2020 16:03:07 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/clips?id=ObliqueEncouragingHumanHumbleLife
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1605283388'
      twitch-trace-id:
      - 2f50ffaaae80ee88ca6439952ab0618d
      x-ctxlog-logid:
      - 1-5faeae3b-59cdce6e7eed233f6d177027
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ObliqueEncouragingHumanHumbleLife","url":"https://clips.twitch.tv/ObliqueEncouragingHumanHumbleLife","embed_url":"https://clips.twitch.tv/embed?clip=ObliqueEncouragingHumanHumbleLife","broadcaster_id":"15310631","broadcaster_name":"Greekgodx","creator_id":"39950897","creator_name":"KillaTwitch","video_id":"","game_id":"","language":"en-gb","title":"wrong
        place wrong time","view_count":178546,"created_at":"2017-12-28T21:37:52Z","thumbnail_url":"https://clips-media-assets2.twitch.tv/168564772-preview-480x272.jpg"}],"pagination":{}}'
  recorded_at: Fri, 13 Nov 2020 16:03:07 GMT
recorded_with: VCR 6.0.0
