---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-601b732d-60fe69f24ff60cf066c958e8
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"streamassistantbot","scopes":["channel:moderate","channel_editor","channel_read","chat:edit","chat:read","user_read"],"user_id":"277558749","expires_in":15434}

        '
  recorded_at: Thu, 04 Feb 2021 04:08:13 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/streams?user_login=SunsetClub
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1612411694'
      twitch-trace-id:
      - 6c42024e40e905a8a34f1fdab983abda
      x-ctxlog-logid:
      - 1-601b732d-7552ae447cf845af2c5ce189
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"40971485260","user_id":"508623691","user_login":"sunsetclub","user_name":"SunsetClub","game_id":"499973","game_name":"Always
        On","type":"live","title":"LIVE view of the World Trade Center, The Hudson
        River, Downtown NYC, and the Verrazzano- Narrows Bridge ","viewer_count":2,"started_at":"2021-02-03T03:45:19Z","language":"en","thumbnail_url":"https://static-cdn.jtvnw.net/previews-ttv/live_user_sunsetclub-{width}x{height}.jpg","tag_ids":["6ea6bca4-4712-4ab9-a906-e3336a9d8039"]}],"pagination":{}}'
  recorded_at: Thu, 04 Feb 2021 04:08:13 GMT
recorded_with: VCR 6.0.0
