---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fb310ee-3c4777be1f80a6e409f88b4c
    body:
      encoding: UTF-8
      string: '{"status":401,"message":"invalid access token"}

        '
  recorded_at: Mon, 16 Nov 2020 23:53:18 GMT
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","grant_type":"refresh_token","refresh_token":"<NEW_REFRESH_TOKEN>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fb310ef-3aa739ac5c57b2c97867eef5
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_ACCESS_TOKEN>","expires_in":15267,"refresh_token":"<NEW_REFRESH_TOKEN>","scope":["bits:read","channel_commercial","channel_editor","channel_read","channel_stream","user:read:email","user_blocks_edit","user_read"],"token_type":"bearer"}

        '
  recorded_at: Mon, 16 Nov 2020 23:53:19 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/bits/leaderboard
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1605570800'
      twitch-trace-id:
      - d31baa4e6bdadf1fcb4900dce7686d9d
      x-ctxlog-logid:
      - 1-5fb310ef-7ba526c55a564c371337fe13
    body:
      encoding: UTF-8
      string: '{"data":[],"date_range":{"started_at":"","ended_at":""},"total":0}'
  recorded_at: Mon, 16 Nov 2020 23:53:19 GMT
recorded_with: VCR 6.0.0
