---
http_interactions:
- request:
    method: post
    uri: https://id.twitch.tv/oauth2/token
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","client_secret":"<CLIENT_SECRET>","code":null,"grant_type":"client_credentials","redirect_uri":"http://localhost"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-5fa3062e-5eac908722d4063b41fae332
    body:
      encoding: UTF-8
      string: '{"access_token":"<NEW_APPLICATION_ACCESS_TOKEN>","expires_in":5373219,"token_type":"bearer"}

        '
  recorded_at: Wed, 04 Nov 2020 19:51:10 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/videos?user_id=9846758
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1604519471'
      twitch-trace-id:
      - '0942c15ad4f073df69d5581303a075fb'
      x-ctxlog-logid:
      - 1-5fa3062e-2c300a4b554e0abd4b0322df
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"791267553","user_id":"9846758","user_name":"VGBootCamp","title":"S@X
        378 ONLINE ULTIMATE TUESDAYS at Laurel Park, MD! Anybody can enter! !bracket
        !sub","description":"","created_at":"2020-11-04T00:30:20Z","published_at":"2020-11-04T00:30:20Z","url":"https://www.twitch.tv/videos/791267553","thumbnail_url":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/3357fc4c4af4d0f762cc_vgbootcamp_39647423901_1604449808//thumb/thumb0-%{width}x%{height}.jpg","viewable":"public","view_count":7168,"language":"en","type":"archive","duration":"4h3m54s"},{"id":"790828947","user_id":"9846758","user_name":"VGBootCamp","title":"TAMISUMA
        191 SSBU - Rifu Kong (Wario) Vs. Hero (Bowser) Smash Ultimate GRAND FINALS","description":"","created_at":"2020-11-03T16:51:47Z","published_at":"2020-11-03T16:51:47Z","url":"https://www.twitch.tv/videos/790828947","thumbnail_url":"https://static-cdn.jtvnw.net/cf_vods/d2nvs31859zcd8/f0c572368419c408bd27_vgbootcamp_54403679366_1550984863//thumb/thumb790828947-%{width}x%{height}.jpg","viewable":"publ[...]
