---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/games?name%5B%5D=Heroes%20of%20the%20Storm&name%5B%5D=Super%20Mario%20Odyssey
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '30'
      Ratelimit-Remaining:
      - '29'
      Ratelimit-Reset:
      - '1511225880'
      Twitch-Trace-Id:
      - 252749297eb241303ee67397d536f34e
      X-Ctxlog-Logid:
      - 1-5a1379dd-4c775cfd53837ffc669b634c
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"32959","name":"Heroes of the Storm","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Heroes%20of%20the%20Storm-{width}x{height}.jpg"},{"id":"493997","name":"Super
        Mario Odyssey","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Super%20Mario%20Odyssey-{width}x{height}.jpg"}]}'
  recorded_at: Tue, 21 Nov 2017 00:57:01 GMT
recorded_with: VCR 3.0.3
