---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/streams
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '30'
      Ratelimit-Remaining:
      - '29'
      Ratelimit-Reset:
      - '1511229410'
      Twitch-Trace-Id:
      - 68c6d35474fd4b1d10c7bfa544c846b0
      X-Ctxlog-Logid:
      - 1-5a1387a8-12b7a58a3fe0083a7a95feae
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"26780572944","user_id":"17337557","game_id":"493057","community_ids":[],"type":"live","title":"#1
        in Everything || @DrDisRespect","viewer_count":35141,"started_at":"2017-11-20T21:39:42Z","language":"en","thumbnail_url":"https://static-cdn.jtvnw.net/previews-ttv/live_user_drdisrespectlive-{width}x{height}.jpg"},{"id":"26779010496","user_id":"26490481","game_id":"33214","community_ids":[],"type":"live","title":"trying
        to get to 100 wins - [ Follow @summit1g ]","viewer_count":26506,"started_at":"2017-11-20T18:12:29Z","language":"en","thumbnail_url":"https://static-cdn.jtvnw.net/previews-ttv/live_user_summit1g-{width}x{height}.jpg"},{"id":"26779927552","user_id":"40017619","game_id":"21779","community_ids"[...]
