---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/streams?user_login=disguisedtoasths
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '30'
      Ratelimit-Remaining:
      - '28'
      Ratelimit-Reset:
      - '1511229410'
      Twitch-Trace-Id:
      - 8119939176fe6ed8d543e44dd23aa066
      X-Ctxlog-Logid:
      - 1-5a1387a9-4058482c7dbfab6c5d11186c
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"26781103760","user_id":"87204022","game_id":"138585","community_ids":[],"type":"live","title":"Disguised
        Toast - !highlights - Meat Wagon Egg Priest","viewer_count":10332,"started_at":"2017-11-20T22:59:14Z","language":"en","thumbnail_url":"https://static-cdn.jtvnw.net/previews-ttv/live_user_disguisedtoasths-{width}x{height}.jpg"}],"pagination":{"cursor":"eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6MX19"}}'
  recorded_at: Tue, 21 Nov 2017 01:55:53 GMT
recorded_with: VCR 3.0.3
