---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/clips?id=ObliqueEncouragingHumanHumbleLife
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '30'
      Ratelimit-Remaining:
      - '26'
      Ratelimit-Reset:
      - '1515097580'
      Twitch-Trace-Id:
      - aaaeafad269d4df9df1085ad364d82a2
      X-Ctxlog-Logid:
      - 1-5a4e8db4-218432172ea5951f709fab9c
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ObliqueEncouragingHumanHumbleLife","url":"https://clips.twitch.tv/ObliqueEncouragingHumanHumbleLife","embed_url":"https://clips.twitch.tv/embed?clip=ObliqueEncouragingHumanHumbleLife","broadcaster_id":"15310631","creator_id":"39950897","video_id":"213331486","game_id":"494717","language":"en-gb","title":"wrong
        place wrong time","view_count":136924,"created_at":"2017-12-28T21:37:52Z","thumbnail_url":"https://clips-media-assets.twitch.tv/168564772-preview-480x272.jpg"}]}'
  recorded_at: Thu, 04 Jan 2018 20:25:24 GMT
recorded_with: VCR 3.0.3
