---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/users?id=18587270
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '30'
      Ratelimit-Remaining:
      - '27'
      Ratelimit-Reset:
      - '1511229410'
      Twitch-Trace-Id:
      - 13c55fe276d010f1a8b30c1be152341e
      X-Ctxlog-Logid:
      - 1-5a1387a9-1bd8257d05178bc926bb6212
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"18587270","login":"day9tv","display_name":"Day9tv","type":"","broadcaster_type":"partner","description":"A
        mixture of thoughtful gaming strategy, comedy, and silly fun. Featuring Hearthstone,
        Dota 2, adventure games, and other community favorites.","profile_image_url":"https://static-cdn.jtvnw.net/jtv_user_pictures/day9tv-profile_image-2226c4b27aaf487a-300x300.png","offline_image_url":"https://static-cdn.jtvnw.net/jtv_user_pictures/day9tv-channel_offline_image-56ca9b8a5b0fd49f-1920x1080.jpeg","view_count":76456648}]}'
  recorded_at: Tue, 21 Nov 2017 01:55:53 GMT
recorded_with: VCR 3.0.3
