---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/helix/games/top?first=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - "<API KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '30'
      Ratelimit-Remaining:
      - '29'
      Ratelimit-Reset:
      - '1515098080'
      Twitch-Trace-Id:
      - 89dd5d2f7da5a586dfcf6b7bb5f4aa4d
      X-Ctxlog-Logid:
      - 1-5a4e8fa5-1a59f49c09967fe20b9c774a
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"21779","name":"League of Legends","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/League%20of%20Legends-{width}x{height}.jpg"},{"id":"493057","name":"PLAYERUNKNOWN''S
        BATTLEGROUNDS","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/PLAYERUNKNOWN%27S%20BATTLEGROUNDS-{width}x{height}.jpg"},{"id":"29595","name":"Dota
        2","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Dota%202-{width}x{height}.jpg"},{"id":"494717","name":"IRL","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/IRL-{width}x{height}.jpg"},{"id":"33214","name":"Fortnite","box_art_url":"https://static-cdn.jtvnw.net/ttv-boxart/Fortnite-{width}x{height}.jpg"}],"pagination":{"cursor":"eyJiIjpudWxsLCJhIjp7Ik9mZnNldCI6NX19"}}'
  recorded_at: Thu, 04 Jan 2018 20:33:42 GMT
recorded_with: VCR 3.0.3
