---
http_interactions:
- request:
    method: get
    uri: https://id.twitch.tv/oauth2/validate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ctxlog-logid:
      - 1-64c7ca46-19fe6a8f5b84e1cf7265d468
    body:
      encoding: UTF-8
      string: '{"client_id":"<CLIENT_ID>","login":"<TOKEN_USER_LOGIN>","scopes":["bits:read","channel:edit:commercial","channel:manage:broadcast","channel:manage:polls","channel:manage:predictions","channel:moderate","channel:read:polls","channel:read:predictions","chat:edit","chat:read","clips:edit","moderation:read","moderator:manage:announcements","moderator:manage:banned_users","moderator:manage:chat_messages","moderator:manage:chat_settings","moderator:read:chat_settings","moderator:read:chatters","user:edit","user:manage:blocked_users","user:read:broadcast","user:read:email"],"user_id":"<TOKEN_USER_ID>","expires_in":14473}

        '
  recorded_at: Mon, 31 Jul 2023 14:50:46 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/moderation/moderators?broadcaster_id=23161357
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1690815048'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"The ID in broadcaster_id
        must match the user ID found in the request''s OAuth token."}'
  recorded_at: Mon, 31 Jul 2023 14:50:47 GMT
- request:
    method: get
    uri: https://api.twitch.tv/helix/moderation/moderators?broadcaster_id=23161357
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-ID:
      - "<CLIENT_ID>"
      Authorization:
      - "<AUTHORIZATION_HEADER>"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      content-type:
      - application/json; charset=utf-8
      ratelimit-limit:
      - '800'
      ratelimit-remaining:
      - '799'
      ratelimit-reset:
      - '1690815048'
    body:
      encoding: UTF-8
      string: '{"error":"Unauthorized","status":401,"message":"The ID in broadcaster_id
        must match the user ID found in the request''s OAuth token."}'
  recorded_at: Mon, 31 Jul 2023 14:50:48 GMT
recorded_with: VCR 6.2.0
